[submodule "AgentRule"]
	path = AgentRule
	url = https://github.com/doppleddiggong/AgentRule.git
[submodule "CoffeeToolbar"]
	path = CoffeeToolbar
	url = https://github.com/doppleddiggong/CoffeeToolbar
