[submodule "AgentRule"]
	path = AgentRule
	url = https://github.com/doppleddiggong/AgentRule.git
[submodule "Plugins/CoffeeToolbar"]
	path = Plugins/CoffeeToolbar
	url = https://github.com/doppleddiggong/CoffeeToolbar
